@model Task.Users

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center mb-4">Create User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container mt-4">
        <div class="card shadow-sm p-4 rounded">
            <h4 class="card-title text-center">User Details</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="mb-3">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.PasswordHash, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "form-label" })
                @Html.DropDownListFor(model => model.Role, new SelectList(new[] {
                    new { Value = "Admin", Text = "Admin" },
                    new { Value = "User", Text = "User" },
                    new { Value = "Manager", Text = "Manager" }
                }, "Value", "Text"), "Select Role", new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
            </div>

            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-success rounded-pill px-4" />
            </div>
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" />


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />